body.path-user .region-content article {
  @apply container-wide;
}
.border-r {
  border-right-width: 1px;
}

.justify-around {justify-content: space-around;}

.justify-stretch {justify-content: stretch;}

.pr-px{padding-right: 1px;}
.pl-px{padding-left: 1px;}

.actions-container > div {
  @apply w-full;
  &:last-child a {
    border-right: none;
  }
}